.title1{
    width: 40%;
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
    text-shadow: 2px 2px #ff0000;
    border-width: 5px;
    
}
.main{
    margin-left: 50px;
}
body {
background: url("img/back.jpg"); 
}
.input1{
font-size:17px;
border-radius:20px;
width: 400px;    
height: 30px;
padding-left: 20px;
}
.search-btn{
    margin-top: 10px;
    border:1px solid #333;
    border-radius:10px;
    width:110px;
    height:30px;
}
.input1:hover{
    margin-top: 2px;
    color: black;
    border: 2px solid black;
}
.search-btn:hover{
    border:2px solid black;
    color:black;
}

.title2{
    color: rgb(5, 1, 37);
    margin-left: 50px;
    margin-top: 10px;
    font-size: 25px;
}
.info{
    font-weight:bold;
    font-size: 20px;
    position: relative;
}
.block{
    border-bottom:1px solid #ddd;
    display:block;
    margin-left: 20px;
    margin-top: 20px;

}
.block img{
    position:relative;
    vertical-align:middle;
    bottom:1px;
    margin-right:3px;
}
.block div{
    vertical-align:middle;
    display:table-cell;
}
.info a b{
    color: rgb(0, 0, 0);

}
.info b{
    color: #3700ff;
}
.info a b:hover{
    text-shadow: 2px 1px #f8f8f8;
}
.info b:hover{
    text-shadow: 2px 1px #ffffff;
}