h1{
    font-size : 80px ;
    text-align: center;
    color: #4d94ff;
    margin-top: 10px;
}
#searchbox{
    opacity: 0;
    
    border-radius: 22px;
  box-sizing: border-box;
  font-size: 16px;
  height: var(--searchbox-height);
  opacity: 1;
  position: relative;
  transition: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  margin: 0 auto;
  max-width: 584px;
  background: white;
  cursor: text;
  
}

#searchbox-container{
    text-align: center;
    --searchbox-height: 44px;
    flex-shrink: 0;
    min-width: 410px;
    width: var(--content-width);
}
#searchbox-text{
    bottom: 0;
    color: rgb(117, 117, 117);
    font-size: 16px;
    height: 44px;
    left: 0;
    line-height: 44px;
    margin: auto 0;
    overflow: hidden;
    position: absolute;
    right: 44px;
    text-align: initial;
    text-overflow: ellipsis;
    top: 0;
    user-select: none;
    vertical-align: middle;
    visibility: inherit;
    white-space: nowrap;
    left: 44px;
  right: 0;
  padding-inline-start: 48px;
}


